* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    height: 100%;
    padding: 50px;
    margin-left: -12px;
    /* margin-top: -87px; */
    position: sticky;
    transform: translateX(10px);
}

.container.show-nav {
    transform: rotate(-14deg);
    top: -117px;
    left: -94px;
    margin-left: 83px;
    margin-top: -179px;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px
}

.container.show-nav .circle {
    transform: rotate(-140deg);
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: sticky;
    transition: transform 0.5s linear;
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 33%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.2s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 28px;
    margin-right: 10px;
}

nav ul li+li {
    margin-left: 25px;
    transform: translateX(-125%);
}

nav ul li+li+li {
    margin-left: 50px;
    transform: translateX(-250%);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.content img {
    max-width: 25%;
}